// Event participants styles
.add-participant{
    .card-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

::ng-deep {
    .ng-select.form-input .ng-select-container {
        border: 1px solid #e0e0e0 !important;
        margin-bottom: 1rem;
    }
}