/* Add any custom styles here */
@media (max-width: 380px) {
  .card-add-pages .add-form .form-grid {
    grid-template-columns: repeat(auto-fit, minmax(208px, 1fr));
  }
  .card-add-pages .add-form .form-grid .form-input {
    font-size: 14px;
    padding: 10px 10px 10px 40px;
  }
}