// Component-specific styles can be added here if needed
.header-info {
    display: flex;
    align-items: center;
    margin-bottom: 0px !important;
    .name{
        &.simple{
            padding-bottom: 20px;
        }
    }

    .header-actions {
        margin-left: auto;
        display: flex;
        align-items: center;
    }
}